@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Ubuntu&display=swap");

/* Global style changes */

* {
  font-family: monospace;
  scrollbar-width: thin;
  scrollbar-color: #252525 #fff;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0px 5px 0px 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 20px;
}

html {
  justify-content: center;
  display: flex;
  background-color: #114364;
}

p {
  margin: 0;
  margin-top: 10px;
  word-break: break-all;
}

h2 {
  margin: 0;
  word-break: break-all;
}

body {
  margin-top: 2%;
  max-width: 350px;
  width: 350px;
}

hr {
  margin-top: 20px;
}

/* Header text style change */

.textheader {
  font-family: "Shadows Into Light Two", cursive;
  justify-content: center;
  display: flex;
  color: #fff;
}

/* Improved task card */

.taskcontent {
  color: #fff;
  margin-top: 5%;
  padding: 10px;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: #252525;
  border-radius: 12px;
  border: 1px solid #fff;
}

/* Form styling */

.formcontent {
  display: flex;
  flex-direction: column;
}

.inputform {
  min-height: 30px;
  min-width: 325px;
  font-weight: 500;
  color: #fff;
  box-shadow: 3px 3px #fafafa;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 10px;
  transition: 0.4s;
  margin-bottom: 10px;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background: #252525;
  border-radius: 12px;
  border: 2px solid #fafafa;
}

.buttonform {
  font-size: 1.5rem;
  color: #fafafa;
  padding: 10px 20px;
  border-radius: 0.4vw;
  border: 2px solid #fafafa;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  border-radius: 12px;
}

.buttonform:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

/* Close task button */

.closetask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 0px solid transparent;
  background-color: #fff;
  border-radius: 12px;
  transition: all 0.2s linear;
  margin-top: 5px;
  cursor: pointer;
}

.closetask:hover {
    transform: scale(0.9) rotate(10deg);
}

/* Animação Header */

.wrapper {
  margin: 0 auto;
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
